<%- include('partials/header') %>
<title>Full Auth</title>
    
    <style>
        body {
            margin: 0px; 
            /* background-color: #57A3FA;  */
            color : #2B68AD;
            font-family: sans-serif;
            text-align: center;
            padding-bottom:60px;
        }
        .navbar {
            background-color: #2B68AD; 
            overflow: hidden;
            position: fixed;  
            top: 0;  
            width: 100%;  
            z-index: 2;
        }
        nav a {
            font-family: 'Roboto', sans-serif;
            /* font-weight:800; */
        }
        form a {
            font-weight: bolder;
        }
        .transaction {
            margin : 20px; 
        }
        .transaction div div input {
            background-color:#6daffa;
        }
        #name {
            margin : 20px auto; 
        }
        #details {
            width:100%;
            overflow: scroll;
        }
        /* table, th, td {
                 margin-left: auto;
                 margin-right: auto; 
                 margin-bottom : 60px; 

                 border: 1px solid black;
                 padding : 5px; 
                 text-align: center;
        }
        th {
            color: red;
        } */
        footer { 
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 56px;
            background-color: #2B68AD; 
            color:#007bff;
            font-size: 1.5rem;
            font-weight: bolder;
            text-align: center;
            padding-top: 10px;
        }
        footer:hover {
            color : #0056b3;  
        }
    </style>
</head>
<body>
    <script src="googleSignin.js"></script>
    <nav class = "navbar">
        <a class = "navbar-brand" href="/"> Full Auth </a>
        <form class="form-inline mr-sm-2">
            <a href="<%= process.env.SITE_NAME %>/login">Log In</a>
            <a class="ml-2" href="<%= process.env.SITE_NAME %>/register">Sign Up</a>
        </form>
    </nav>
    <div class = "container-fluid">
        <h3 id="name" style = "margin : 60px auto 10px auto">  <%= name %> </h3> 
    </div>
    <div class="row"> 
        <div class="col-lg-6 col-md-6 col-sm-12" style= "border:1px solid; padding:30px;">
            Log into the website by any Signin method.
            Type random values in the form below/beside and click pay. 
            Then close the page and revisit/reload the page.
            Then click on Get Transaction History. 
            You will be able to view your all previous transactions. 
            The website keeps you logged in for 7 days. 
            This is just a demo to show that login was legit. 
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style= "border:1px solid;">
            <form class="transaction">
                <div class="form-group row">
                    <label for="product_name" class="col-sm-3 col-form-label">Product name</label>
                    <div class="col-sm-9">
                    <input type="text" class="form-control" id="product_name" placeholder="Enter random value">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="product_id" class="col-sm-3 col-form-label" >Product ID</label>
                    <div class="col-sm-9">
                    <input type="text" class="form-control" id="product_id" placeholder="Enter random value">
                    </div>     
                </div>
                <div class="form-group row">
                    <label for="product_price" class="col-sm-3 col-form-label">Product price</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="product_price" placeholder="Enter random value">
                    </div>
                </div>
                <button class="btn btn-primary btn-block" id="postpay" type = "button"> Pay </button> <br>
                <div id="postpaymsg"> </div>
            </form>
        </div>
    </div>
    <button class="btn btn-primary btn-block" style="margin:10px auto; margin-bottom: 20px;" id="getpay" type = "button"> Get Transaction History <i class="fas fa-arrow-down"></i></button> <br>
    <div id="details"> </div> 
    <footer>
        <a id="logout">Sign out</a> 
    </footer>
    <script src="home.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
</body>
</html>