<%- include('partials/header') %>

    <!-- required CSS file -->
    <link rel="stylesheet" href="/login.css">
    <title>Full Auth</title>
    
</head>
<body>
    <script src="fbSignIn.js" defer> </script>
    <script src="googleSignIn.js"> </script>
    <div id="logreg-forms">
            <div id = "logo"> 
                <a href="<%=process.env.SITE_NAME%>"> Full Auth </a>
            </div>
            <form   class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in </h1>
            <div class="social-login"> 
                <div id="my-signin2" ></div>               
                <button id = "fbsignin" class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
            </div>
            <p style="text-align:center"> OR  </p>

            <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required="" autofocus="">
            <span class="error" id="email_error"></span>

            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="">
            <span class="error" id="password_error"></span>

            <button id="main_login" class="btn btn-success btn-block" type="button"><i class="fas fa-sign-in-alt"></i> Sign in</button>
            <span id="login_message"></span>

            <div id="afterlogin"> </div>
            <hr>
            <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button>
        </form>   
    </div>
    <script>
        $('#btn-signup').bind("click",function(){
            window.location.replace('<%= process.env.SITE_NAME %>/register');
        }); 
    </script>
    <script src="login.js"> </script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>
</html>